.project
.DS_Store
pixel-perfect.sublime-workspace
srcExtension/chrome/pixelperfect/content/user_overlays/Blue_Grunge_texture_4_by_BrokenVain_Stock.png

srcExtension/chrome/pixelperfect/content/user_overlays/ajax-loader.gif

srcExtension/chrome/pixelperfect/content/user_overlays/glavn-1.png
